body{

    font-family: sans-serif;

}

/*Modulo del Home*/
.bg{

    background: url("../img/fondo.jpg") no-repeat;
    width: 100%;
    height: 100%;
    color: #fff;

}

.form-container{
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
}

.main-container{
    margin-top: 34px;
    margin-bottom: 34px;
}

.disco{
    width: 30px;
    height: 30px;
}

.display-flex{
    display: flex;
    margin-left: 400px;
}

.icon-artista{
    width: 64px;
    height: 64px;
}

.active{
    color: white;
}

.puntero{
    cursor: pointer;
}




/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/*Modulo Artista*/
.listaArtista li a{
    color: #212121;
    display:  block;
    text-decoration: none;
}

.listaArtista li a:hover{
    text-decoration: line-through;
}

.is-invalid  input{
    color: red;
}

/*Modulo Empresa*/
.radio input[type="radio"],.checkbox input[type="checkbox"]{
    display:none;
}

.radio label,.checkbox label{
    color: #0074D9;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radio label:hover,.checkbox label:hover{
    background: rgba(0,116,217,0.2);
}

.radio label:before,.checkbox label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0074D9;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 10px;
}

.checkbox label:before{
    border-radius: 3px;
}

.radio input[type="radio"]:checked + label,
.checkbox input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #0074D9;
    color: #fff;
    border-radius: 2px;
}

.radio input[type="radio"]:checked + label:before,
.checkbox input[type="checkbox"]:checked + label:before{
    display: none;
}



/* .radio  input[type="radio"] + label{
    color: #dc3545;
}*/

